:root {
  --light-gray: #eaeaea;
  --medium-gray: #a2a2a2;
  --dark-gray: #1a1a1a;
}

.hide-me {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  padding: 2em 1em 1em 1em;
}

.header .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #efefef1d;
  padding-bottom: 1em;
  width: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
}

.identity {
  display: flex;
  align-items: center;
  gap: 0.2em;
  width: 100%;
  color: var(--light-gray);
  line-height: 0.8;
}

.hamburger img {
  max-width: 44px;
  height: auto;
}

.date {
  margin: 0;
  line-height: 0.8;
  font-size: 2em;
  font-weight: 900;
  color: var(--medium-gray);
}

.logo {
  font-size: 2em;
  transform: rotate(180deg);
}
