.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 1.5em 1em;
  gap: 1em;
}

a {
  background-color: transparent;
  color: var(--accent-red);
  padding: 0;
}

.footer-credit {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
