body {
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --light-gray: #eaeaea;
  --medium-gray: #a2a2a2;
  --dark-gray-2: #272727;
  --dark-gray: #1a1a1a;
  --accent-red: rgb(194, 44, 49);

  color-scheme: light dark;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-gray);
    background-color: var(--light-gray);
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  scroll-behavior: smooth;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.body-wrapper {
  height: 100vh;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
